In [102]:
from datetime import datetime
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
import textwrap
pd.options.display.width = 0
pd.options.display.max_rows = None
pd.options.display.float_format = "{:.2f}".format

'''The task is to check the accounting data with ML'''

'The task is to check the accounting data with ML'

In [103]:
data = pd.read_csv('C:\\Users\\SZ\\Dropbox\\Python Projekt Buchhaltung\\kontobuchungen2018.txt', header=0, sep=';', thousands='.', decimal=',', low_memory=False)

In [104]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362056 entries, 0 to 362055
Data columns (total 39 columns):
Konto                            362056 non-null int64
Belegdatum                       362056 non-null int64
BU-Schlüssel                     52583 non-null float64
Gegenkonto                       362056 non-null int64
Buchungstext                     357709 non-null object
Steuersatz                       362056 non-null float64
Belegfeld 1                      362056 non-null object
Umsatz Soll                      362056 non-null float64
Umsatz Haben                     362056 non-null float64
WKZ eingeg. Umsatz               362056 non-null object
Eingeg. Umsatz                   362056 non-null float64
Kurs                             362056 non-null float64
Stapel-Nr.                       362056 non-null object
BSNr                             362056 non-null int64
Herkunft-Kz                      362056 non-null object
Belegfeld 2                      42 non-null float64
KOST1 - Kostenstelle             0 non-null float64
KOST2 - Kostenstelle             0 non-null float64
Kost-Menge                       362056 non-null float64
Stück                            0 non-null float64
Gewicht                          0 non-null float64
Auftragsnummer                   0 non-null float64
Buchungstyp (Anzahlungen)        0 non-null float64
USt-Schlüssel (Anzahlungen)      362056 non-null int64
EU-Land (Anzahlungen)            0 non-null float64
Sachverhalt L+L (Anzahlungen)    0 non-null float64
EU-Steuersatz (Anzahlungen)      0 non-null float64
Erlöskonto (Anzahlungen)         362056 non-null int64
Skontotyp                        362056 non-null int64
Gesellschaftername               0 non-null float64
Beteiligtennummer                0 non-null float64
Identifikationsnummer            0 non-null float64
Zeichnernummer                   0 non-null float64
Buchungs GUID                    362056 non-null object
Bezeichnung SoBil-Sachverhalt    0 non-null float64
Kennzeichen SoBil-Buchung        0 non-null float64
Leistungsdatum                   5 non-null float64
Datum Zuord. Steuerperiode       0 non-null float64
Generalumkehr (GU)               362056 non-null int64
dtypes: float64(25), int64(8), object(6)
memory usage: 107.7+ MB
None

In [105]:
print(data.head())

    Konto  Belegdatum  BU-Schlüssel  Gegenkonto Buchungstext  Steuersatz  \
0   14000     1012018           nan       90080      EB-Wert        0.00
1   90080     1012018           nan      107000      EB-Wert        0.00
2  107000     1012018           nan       90080      EB-Wert        0.00
3   14000     1012018           nan       90080      EB-Wert        0.00
4   90080     1012018           nan      110000      EB-Wert        0.00

  Belegfeld 1  Umsatz Soll  Umsatz Haben WKZ eingeg. Umsatz  ...  \
0           0       699.02          0.00                EUR  ...
1           0         0.00        699.02                EUR  ...
2           0       699.02          0.00                EUR  ...
3           0      2250.19          0.00                EUR  ...
4           0         0.00       2250.19                EUR  ...

   Gesellschaftername  Beteiligtennummer Identifikationsnummer  \
0                 nan                nan                   nan
1                 nan                nan                   nan
2                 nan                nan                   nan
3                 nan                nan                   nan
4                 nan                nan                   nan

   Zeichnernummer                         Buchungs GUID  \
0             nan  b241a8f1-c402-487d-9c79-be05dd5a7362
1             nan  b241a8f1-c402-487d-9c79-be05dd5a7362
2             nan  b241a8f1-c402-487d-9c79-be05dd5a7362
3             nan  dad5a09c-121f-4368-8621-0238721cd5a6
4             nan  dad5a09c-121f-4368-8621-0238721cd5a6

   Bezeichnung SoBil-Sachverhalt  Kennzeichen SoBil-Buchung  Leistungsdatum  \
0                            nan                        nan             nan
1                            nan                        nan             nan
2                            nan                        nan             nan
3                            nan                        nan             nan
4                            nan                        nan             nan

   Datum Zuord. Steuerperiode  Generalumkehr (GU)
0                         nan                   0
1                         nan                   0
2                         nan                   0
3                         nan                   0
4                         nan                   0

[5 rows x 39 columns]

In [106]:
'''Throwing out irrelevant features'''

irrelevant_features = ['WKZ eingeg. Umsatz', 'Stapel-Nr.', 'BSNr', 'Herkunft-Kz', 'Belegfeld 2', 'KOST1 - Kostenstelle', 
                       'KOST2 - Kostenstelle', 'Kost-Menge', 'Stück', 'Gewicht', 'Auftragsnummer', 'EU-Land (Anzahlungen)', 
                       'Sachverhalt L+L (Anzahlungen)', 'Gesellschaftername', 'Beteiligtennummer', 'Identifikationsnummer', 
                       'Zeichnernummer', 'Buchungs GUID', 'Bezeichnung SoBil-Sachverhalt', 'Kennzeichen SoBil-Buchung', 'Leistungsdatum', 'Datum Zuord. Steuerperiode']
data.drop(irrelevant_features, inplace=True, axis=1)

In [107]:
data.head()

,Konto,Belegdatum,BU-Schlüssel,Gegenkonto,Buchungstext,Steuersatz,Belegfeld 1,Umsatz Soll,Umsatz Haben,Eingeg. Umsatz,Kurs,Buchungstyp (Anzahlungen),USt-Schlüssel (Anzahlungen),EU-Steuersatz (Anzahlungen),Erlöskonto (Anzahlungen),Skontotyp,Generalumkehr (GU)
0,14000,1012018,nan,90080,EB-Wert,0.00,0,699.02,0.00,0.00,0.00,nan,0,nan,0,0,0
1,90080,1012018,nan,107000,EB-Wert,0.00,0,0.00,699.02,0.00,0.00,nan,0,nan,0,0,0
2,107000,1012018,nan,90080,EB-Wert,0.00,0,699.02,0.00,0.00,0.00,nan,0,nan,0,0,0
3,14000,1012018,nan,90080,EB-Wert,0.00,0,2250.19,0.00,0.00,0.00,nan,0,nan,0,0,0
4,90080,1012018,nan,110000,EB-Wert,0.00,0,0.00,2250.19,0.00,0.00,nan,0,nan,0,0,0

In [108]:
# data['Konto'].unique()

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362056 entries, 0 to 362055
Data columns (total 17 columns):
Konto                          362056 non-null int64
Belegdatum                     362056 non-null int64
BU-Schlüssel                   52583 non-null float64
Gegenkonto                     362056 non-null int64
Buchungstext                   357709 non-null object
Steuersatz                     362056 non-null float64
Belegfeld 1                    362056 non-null object
Umsatz Soll                    362056 non-null float64
Umsatz Haben                   362056 non-null float64
Eingeg. Umsatz                 362056 non-null float64
Kurs                           362056 non-null float64
Buchungstyp (Anzahlungen)      0 non-null float64
USt-Schlüssel (Anzahlungen)    362056 non-null int64
EU-Steuersatz (Anzahlungen)    0 non-null float64
Erlöskonto (Anzahlungen)       362056 non-null int64
Skontotyp                      362056 non-null int64
Generalumkehr (GU)             362056 non-null int64
dtypes: float64(8), int64(7), object(2)
memory usage: 47.0+ MB

In [111]:
check_84000_soll = data[(data['Konto'] == 84000) & (data['Umsatz Soll'] > 0)]

In [113]:
check_84000_soll

,Konto,Belegdatum,BU-Schlüssel,Gegenkonto,Buchungstext,Steuersatz,Belegfeld 1,Umsatz Soll,Umsatz Haben,Eingeg. Umsatz,Kurs,Buchungstyp (Anzahlungen),USt-Schlüssel (Anzahlungen),EU-Steuersatz (Anzahlungen),Erlöskonto (Anzahlungen),Skontotyp,Generalumkehr (GU)
1543,84000,10012018,nan,12000,Gschosser Petra,19.00,46614,3.28,0.00,0.00,0.00,nan,0,nan,0,0,0
1546,84000,10012018,nan,12000,Gotzer Fabian,19.00,48325,3.28,0.00,0.00,0.00,nan,0,nan,0,0,0
1549,84000,10012018,nan,12000,Bekci Baris,19.00,36970,6.18,0.00,0.00,0.00,nan,0,nan,0,0,0
1552,84000,10012018,nan,12000,Kathrin Frey,19.00,44132,6.55,0.00,0.00,0.00,nan,0,nan,0,0,0
1555,84000,10012018,nan,12000,Gschosser Petra,19.00,46614,8.32,0.00,0.00,0.00,nan,0,nan,0,0,0
1558,84000,10012018,nan,12000,Marc Lamscheck,19.00,44497,10.92,0.00,0.00,0.00,nan,0,nan,0,0,0
1564,84000,10012018,nan,12000,El Sonbaty Iman Jihan,19.00,21423,11.60,0.00,0.00,0.00,nan,0,nan,0,0,0
1567,84000,10012018,nan,12000,Frau Sandra Csaszar-Bar,19.00,43663,11.76,0.00,0.00,0.00,nan,0,nan,0,0,0
1570,84000,10012018,nan,12000,"Leichtle-Werner, Marion Wer",19.00,39294,16.10,0.00,0.00,0.00,nan,0,nan,0,0,0
1573,84000,10012018,nan,12000,"Cramer, Kay",19.00,39917,17.23,0.00,0.00,0.00,nan,0,nan,0,0,0
1576,84000,10012018,nan,12000,Wegener Samantha-Lee,19.00,43309,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
1579,84000,10012018,nan,12000,Michaela Fromhold,19.00,47100,25.21,0.00,0.00,0.00,nan,0,nan,0,0,0
1582,84000,10012018,nan,12000,El Sonbaty Iman Jihan,19.00,0,26.89,0.00,0.00,0.00,nan,0,nan,0,0,0
1588,84000,10012018,nan,12000,"Stadler, Christian",19.00,37595,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
1591,84000,10012018,nan,12000,TILL WITTMUND,19.00,45915,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
1594,84000,10012018,nan,12000,CARSTEN VON CIEMINSKI,19.00,43883,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
1597,84000,10012018,nan,12000,MICHAEL GEYER,19.00,39946,59.50,0.00,0.00,0.00,nan,0,nan,0,0,0
1600,84000,10012018,nan,12000,MICHAEL GEYER,19.00,39946,59.50,0.00,0.00,0.00,nan,0,nan,0,0,0
1603,84000,10012018,nan,12000,Andreas Plotz,19.00,41760,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
1606,84000,10012018,nan,12000,DANIELLE GONSIOR,19.00,37674,99.16,0.00,0.00,0.00,nan,0,nan,0,0,0
1609,84000,10012018,nan,12000,W. Sewradj,19.00,48082,99.92,0.00,0.00,0.00,nan,0,nan,0,0,0
1612,84000,10012018,nan,12000,MUELLER LUKAS,19.00,46690,125.97,0.00,0.00,0.00,nan,0,nan,0,0,0
31728,84000,9022018,nan,116010,orelunited,19.00,76,260.96,0.00,0.00,0.00,nan,0,nan,0,0,0
31732,84000,13022018,nan,112030,Karl Lagerfeld,19.00,77,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
31736,84000,19022018,nan,102020,Best Place,19.00,78,568.15,0.00,0.00,0.00,nan,0,nan,0,0,0
31740,84000,22022018,nan,126010,Zimmer 6 Rohde,19.00,79,633.76,0.00,0.00,0.00,nan,0,nan,0,0,0
82477,84000,23022018,nan,120000,"HÃ¶ffmann, Mandy,",19.00,64239,184.87,0.00,0.00,0.00,nan,0,nan,0,0,0
82481,84000,28022018,nan,120000,"Doganer, Christian,",19.00,63470,170.59,0.00,0.00,0.00,nan,0,nan,0,0,0
82485,84000,14022018,nan,120000,"Hortig, Oliver,",19.00,55329,162.18,0.00,0.00,0.00,nan,0,nan,0,0,0
82489,84000,14022018,nan,120000,"Fliegner, Christian,",19.00,58393,141.18,0.00,0.00,0.00,nan,0,nan,0,0,0
82493,84000,28022018,nan,120000,"Schlesiger, Doris,",19.00,64086,133.61,0.00,0.00,0.00,nan,0,nan,0,0,0
82497,84000,28022018,nan,120000,"Thiel, Lucas,",19.00,62947,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
82501,84000,28022018,nan,120000,"Izla, Gabriel,,",19.00,62728,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
82505,84000,14022018,nan,120000,"Shams, Rabia,",19.00,55785,116.81,0.00,0.00,0.00,nan,0,nan,0,0,0
82509,84000,27022018,nan,120000,"Wagner, Florian,",19.00,64925,116.81,0.00,0.00,0.00,nan,0,nan,0,0,0
82513,84000,23022018,nan,120000,"Pietusch, Ralf,",19.00,64235,108.91,0.00,0.00,0.00,nan,0,nan,0,0,0
82517,84000,14022018,nan,120000,"Dobruch, Magdalena,",19.00,62149,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
82521,84000,23022018,nan,120000,"Schmitz, Martin,",19.00,64195,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
82525,84000,28022018,nan,120000,"SPERLICH, SIMON,",19.00,63362,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
82529,84000,28022018,nan,120000,"Kaiser, Dennis,",19.00,62796,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
82533,84000,23022018,nan,120000,"Gonsior, Danielle,",19.00,64191,99.16,0.00,0.00,0.00,nan,0,nan,0,0,0
82537,84000,27022018,nan,120000,"Schwarzer, Timo,",19.00,64929,95.71,0.00,0.00,0.00,nan,0,nan,0,0,0
82541,84000,1022018,nan,120000,"Kunde, Store,",19.00,55383,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
82545,84000,28022018,nan,120000,"Schmidt, Andre,",19.00,63375,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
82549,84000,28022018,nan,120000,"Noruzian, Babak,",19.00,62725,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
82553,84000,23022018,nan,120000,"GÃ¤ng, Tamara,",19.00,64204,89.92,0.00,0.00,0.00,nan,0,nan,0,0,0
82557,84000,14022018,nan,120000,"Schedlbauer, Daniel,",19.00,52858,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
82561,84000,22022018,nan,120000,"Fuxen, Anki,",19.00,63669,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
82565,84000,22022018,nan,120000,"Nils-C., Ebsen,",19.00,63599,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
82569,84000,28022018,nan,120000,"William, Schubert,",19.00,62951,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
82573,84000,28022018,nan,120000,"Bastian, Felix,",19.00,62792,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
82577,84000,23022018,nan,120000,"Rosenthal, Kerstin,",19.00,64201,83.19,0.00,0.00,0.00,nan,0,nan,0,0,0
82581,84000,23022018,nan,120000,"Neufeld, Eugenia,",19.00,64236,83.19,0.00,0.00,0.00,nan,0,nan,0,0,0
82585,84000,14022018,nan,120000,"Habermann, Moritz,",19.00,55402,80.50,0.00,0.00,0.00,nan,0,nan,0,0,0
82589,84000,20022018,nan,120000,"Kunde, Store,",19.00,63708,73.95,0.00,0.00,0.00,nan,0,nan,0,0,0
82593,84000,28022018,nan,120000,"Godau, Petra,",19.00,62744,73.95,0.00,0.00,0.00,nan,0,nan,0,0,0
82597,84000,28022018,nan,120000,"Pasta, Sylvia,",19.00,62782,59.50,0.00,0.00,0.00,nan,0,nan,0,0,0
82601,84000,23022018,nan,120000,"Erath, Michaela,",19.00,64250,58.71,0.00,0.00,0.00,nan,0,nan,0,0,0
82605,84000,23022018,nan,120000,"Geyer, Silke,",19.00,64249,52.94,0.00,0.00,0.00,nan,0,nan,0,0,0
82609,84000,27022018,nan,120000,"Minkova, Radostina,",19.00,63377,49.50,0.00,0.00,0.00,nan,0,nan,0,0,0
82613,84000,14022018,nan,120000,"Weber, Tobias,",19.00,59494,46.89,0.00,0.00,0.00,nan,0,nan,0,0,0
82617,84000,14022018,nan,120000,"Schwert, Sylvia,",19.00,51221,46.89,0.00,0.00,0.00,nan,0,nan,0,0,0
82621,84000,14022018,nan,120000,"Beutel, Laura,",19.00,59570,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82625,84000,14022018,nan,120000,"Habermann, Moritz,",19.00,55404,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82629,84000,22022018,nan,120000,"Jonas Magnus, Till,",19.00,63644,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82633,84000,22022018,nan,120000,"Neufeld, Oksana,",19.00,63606,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82637,84000,22022018,nan,120000,"Gmelch, Klaus Peter,",19.00,63588,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82641,84000,27022018,nan,120000,"Thulke, Kevin,",19.00,64822,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82645,84000,28022018,nan,120000,"Nguyen, Mai Anh,",19.00,63367,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82649,84000,28022018,nan,120000,"Alizadeh, Jawad,",19.00,62754,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82653,84000,28022018,nan,120000,"Albrecht, Nadine,",19.00,62746,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
82657,84000,28022018,nan,120000,"Schmidt, Jens,",19.00,64840,38.49,0.00,0.00,0.00,nan,0,nan,0,0,0
82661,84000,14022018,nan,120000,"Kunde, Store,",19.00,62629,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82665,84000,16022018,nan,120000,"Kunde, Store,",19.00,62892,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82669,84000,22022018,nan,120000,"Gasser, Julia,",19.00,64036,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82673,84000,23022018,nan,120000,"KieÃŸler, Tim,",19.00,64208,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82677,84000,23022018,nan,120000,"Heller, RenÃ©,",19.00,64206,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82681,84000,23022018,nan,120000,"Brudermiller, Carolin,",19.00,64200,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82685,84000,23022018,nan,120000,"Moghaddampour, Parisa,",19.00,64232,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82689,84000,23022018,nan,120000,"Stadler, Christian,",19.00,64242,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82693,84000,23022018,nan,120000,"Fetzer, Kai,",19.00,64241,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82697,84000,28022018,nan,120000,"Egger, Franziska,",19.00,64246,36.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82701,84000,28022018,nan,120000,"Schallnat, Benjamin,",19.00,64827,28.49,0.00,0.00,0.00,nan,0,nan,0,0,0
82705,84000,14022018,nan,120000,"Gilmour, Michael,",19.00,62170,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82709,84000,14022018,nan,120000,"Barbara BÃ¼hlmeyer, Claudia,",19.00,61747,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82713,84000,14022018,nan,120000,"Wolf, Dominic,",19.00,59427,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82717,84000,14022018,nan,120000,"Surau, Viktor,",19.00,59418,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82721,84000,14022018,nan,120000,"Valor, Joana,",19.00,58588,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82725,84000,14022018,nan,120000,"Ogulkanmis, Elif,",19.00,57360,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82729,84000,14022018,nan,120000,"Maier, Tim,",19.00,55356,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82733,84000,22022018,nan,120000,"Dieter, Carmen,",19.00,63679,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82737,84000,22022018,nan,120000,"Barthel, Heiko,",19.00,63601,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82741,84000,28022018,nan,120000,"Adleff, Marcel,",19.00,62957,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82745,84000,28022018,nan,120000,"Ostrau, Timo,",19.00,62787,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
82749,84000,23022018,nan,120000,"Masmann, Erika, GeschÃ¤ftsleitung",19.00,64244,17.52,0.00,0.00,0.00,nan,0,nan,0,0,0
82753,84000,23022018,nan,120000,"Masmann, Erika, GeschÃ¤ftsleitung",19.00,64245,17.52,0.00,0.00,0.00,nan,0,nan,0,0,0
82757,84000,22022018,nan,120000,"Wrona-Burghardt, Karol,",19.00,63985,16.26,0.00,0.00,0.00,nan,0,nan,0,0,0
82761,84000,1022018,nan,120000,"Kunde, Store,",19.00,55344,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82765,84000,3022018,nan,120000,"Kunde, Store,",19.00,55931,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82769,84000,12022018,nan,120000,"Kunde, Store,",19.00,61641,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82773,84000,14022018,nan,120000,"Trove-Pibiri, Daniela,",19.00,58325,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82777,84000,22022018,nan,120000,"Deising, Anna sophie,",19.00,63646,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82781,84000,22022018,nan,120000,"Stichler, Susanne,",19.00,63596,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82785,84000,23022018,nan,120000,"Zimmermann, Anna,",19.00,64185,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82789,84000,23022018,nan,120000,"Poloczek, Michael,",19.00,64210,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82793,84000,23022018,nan,120000,"Schwietz, Jasmin,",19.00,64205,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82797,84000,23022018,nan,120000,"Fell, Alisa,",19.00,64192,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82801,84000,23022018,nan,120000,"Eydam, Anna,",19.00,64248,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82805,84000,14022018,nan,120000,"Reiner, Peter,",19.00,59435,14.23,0.00,0.00,0.00,nan,0,nan,0,0,0
82809,84000,23022018,nan,120000,"Seiter, Florian,",19.00,64255,12.97,0.00,0.00,0.00,nan,0,nan,0,0,0
82813,84000,23022018,nan,120000,"Martin, Sara,",19.00,64237,8.32,0.00,0.00,0.00,nan,0,nan,0,0,0
82817,84000,22022018,nan,120000,"Bollermann, Christian,",19.00,63988,5.55,0.00,0.00,0.00,nan,0,nan,0,0,0
82821,84000,23022018,nan,120000,"Henn, Steffen,",19.00,64219,3.28,0.00,0.00,0.00,nan,0,nan,0,0,0
82825,84000,23022018,nan,120000,"Lange, Bernard,",19.00,64214,3.03,0.00,0.00,0.00,nan,0,nan,0,0,0
82829,84000,23022018,nan,120000,"Gingele, Martin,",19.00,64216,2.39,0.00,0.00,0.00,nan,0,nan,0,0,0
125297,84000,27032018,nan,120000,"Hajdarevic, Almir,",19.00,68979,251.26,0.00,0.00,0.00,nan,0,nan,0,0,0
125301,84000,7032018,nan,120000,"Ostermaier, Dominik,",19.00,66235,133.61,0.00,0.00,0.00,nan,0,nan,0,0,0
125305,84000,6032018,nan,120000,"Kramer, Florian,",19.00,66024,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
125309,84000,27032018,nan,120000,"Dincel, Oezguer,",19.00,68992,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
125313,84000,5032018,nan,120000,"Haagen, Meike,",19.00,65882,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
125317,84000,10032018,nan,120000,"Kunde, Store,",19.00,66703,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
125321,84000,27032018,nan,120000,"Winter, Paul,",19.00,68980,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
125325,84000,20032018,nan,120000,"TeichrÃ¶b, David,",19.00,67907,95.71,0.00,0.00,0.00,nan,0,nan,0,0,0
125329,84000,1032018,nan,120000,"heigl, max, Ges",19.00,65207,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
125333,84000,7032018,nan,120000,"Baladi, Hanane,",19.00,66255,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
125337,84000,28032018,nan,120000,"mirko zeller, Herr,",19.00,69315,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
125341,84000,6032018,nan,120000,"Stiening, Lena,",19.00,66022,83.19,0.00,0.00,0.00,nan,0,nan,0,0,0
125345,84000,1032018,nan,120000,"Laudage, Niklas,",19.00,65216,80.50,0.00,0.00,0.00,nan,0,nan,0,0,0
125353,84000,26032018,nan,120000,"Kunde, Store,",19.00,68821,41.18,0.00,0.00,0.00,nan,0,nan,0,0,0
125357,84000,7032018,nan,120000,"Sorich, Tim,",19.00,66257,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
125361,84000,8032018,nan,120000,"Dauskardt, Mark,",19.00,66347,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
125365,84000,8032018,nan,120000,"Yavas, Enes,",19.00,66353,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
125369,84000,29032018,nan,120000,"Schuster, Isabellabell,",19.00,69419,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
125373,84000,8032018,nan,120000,"Etterich, Sebastian,",19.00,66348,28.49,0.00,0.00,0.00,nan,0,nan,0,0,0
125377,84000,8032018,nan,120000,"Reinhardt, Lars,",19.00,66349,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
125381,84000,20032018,nan,120000,"Hippler, Serge,",19.00,67910,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
125385,84000,27032018,nan,120000,"Kind, Oliver,",19.00,68987,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
125389,84000,27032018,nan,120000,"Kalbfleisch, Romana,",19.00,68988,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
125393,84000,28032018,nan,120000,"Griese, Katharina,",19.00,69316,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
140317,84000,18042018,nan,114010,Immobilienberatung-GmbH & Co.,19.00,92,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
152241,84000,4042018,nan,120000,"Knapp, Gero,",19.00,69970,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
152245,84000,16042018,nan,120000,"Battaglia, Federico,",19.00,71294,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
152249,84000,5042018,nan,120000,"Himmrich, Daniel,",19.00,70173,116.81,0.00,0.00,0.00,nan,0,nan,0,0,0
152253,84000,12042018,nan,120000,"Kunde, Store,",19.00,70831,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
152257,84000,16042018,nan,120000,"Wrona-Burghardt, Karol,",19.00,71292,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
152261,84000,16042018,nan,120000,"Lamberty-MÃ¼ller, Marita,",19.00,71301,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
152265,84000,18042018,nan,120000,"Odenbach, Katharina,",19.00,71549,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
152269,84000,18042018,nan,120000,"Freitag, Stefanie, Einkauf",19.00,71593,100.00,0.00,0.00,0.00,nan,0,nan,0,0,0
152273,84000,23042018,nan,120000,"Reiss, Christian,",19.00,71950,95.71,0.00,0.00,0.00,nan,0,nan,0,0,0
152277,84000,16042018,nan,120000,"Gelke, Richard,",19.00,71303,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
152281,84000,6042018,nan,120000,"Schwarz, Florian,",19.00,70263,86.47,0.00,0.00,0.00,nan,0,nan,0,0,0
152285,84000,23042018,nan,120000,"Duer, Jenny,",19.00,71954,77.31,0.00,0.00,0.00,nan,0,nan,0,0,0
152289,84000,4042018,nan,120000,"Martin, Robin,",19.00,70016,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
152293,84000,4042018,nan,120000,"Semmler, Katja,",19.00,69966,42.69,0.00,0.00,0.00,nan,0,nan,0,0,0
152297,84000,28042018,nan,120000,"Kunde, Store,",19.00,72708,41.18,0.00,0.00,0.00,nan,0,nan,0,0,0
152301,84000,4042018,nan,120000,"Frieling, Alexandra,",19.00,69974,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
152305,84000,18042018,nan,120000,"Brambach, Jasmin,",19.00,71548,40.25,0.00,0.00,0.00,nan,0,nan,0,0,0
152309,84000,13042018,nan,120000,"Galkin, Alexander,",19.00,70961,23.45,0.00,0.00,0.00,nan,0,nan,0,0,0
152313,84000,4042018,nan,120000,"Halfas, Laura,",19.00,69964,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
152317,84000,3042018,nan,120000,"Kunde, Store,",19.00,69854,15.97,0.00,0.00,0.00,nan,0,nan,0,0,0
180644,84000,18052018,nan,120000,"Steinhauer, Erich,",19.00,78428,133.61,0.00,0.00,0.00,nan,0,nan,0,0,0
180648,84000,12052018,nan,120000,"Kunde, Store,",19.00,77518,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
180652,84000,30052018,nan,120000,"Kunde, Store,",19.00,79909,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
180656,84000,12052018,nan,120000,"Kunde, Store,",19.00,77494,115.97,0.00,0.00,0.00,nan,0,nan,0,0,0
180660,84000,17052018,nan,120000,"Jaafar, Siyar,",19.00,78273,91.60,0.00,0.00,0.00,nan,0,nan,0,0,0
180664,84000,16052018,nan,120000,"Sven Mehner, Herr,",19.00,78171,82.94,0.00,0.00,0.00,nan,0,nan,0,0,0
180668,84000,17052018,nan,120000,"brun, jacky,",19.00,78270,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
180672,84000,17052018,nan,120000,"Klatt, Andrea,",19.00,78266,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
180676,84000,16052018,nan,120000,"Welter, Kevin,",19.00,78103,45.38,0.00,0.00,0.00,nan,0,nan,0,0,0
180680,84000,2052018,nan,120000,"Serhan, Ali,",19.00,73662,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180684,84000,15052018,nan,120000,"HÃ¼ttry, Stephan,",19.00,77981,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180688,84000,16052018,nan,120000,"Piri, Bibi,",19.00,78149,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180692,84000,17052018,nan,120000,"Scheuermann, Sebastian,",19.00,78251,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180696,84000,17052018,nan,120000,"Zimmermann, Kathrin,",19.00,78310,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180700,84000,17052018,nan,120000,"Waniaschefsky, Romy,",19.00,78254,38.49,0.00,0.00,0.00,nan,0,nan,0,0,0
180704,84000,17052018,nan,120000,"Ho, Quang Nguyen,",19.00,78260,26.81,0.00,0.00,0.00,nan,0,nan,0,0,0
180708,84000,17052018,nan,120000,"Stendenbach, David,",19.00,78269,23.45,0.00,0.00,0.00,nan,0,nan,0,0,0
180712,84000,11052018,nan,120000,"Teubner, Petra,",19.00,77290,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180716,84000,11052018,nan,120000,"Thumm, Daniel,",19.00,77297,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180720,84000,11052018,nan,120000,"Carlitz, Sascha,",19.00,77347,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180724,84000,14052018,nan,120000,"Geike, Alena,",19.00,77820,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180728,84000,17052018,nan,120000,"Adler, Susann,",19.00,78256,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180732,84000,17052018,nan,120000,"Uchmann, Annemarie,",19.00,78281,19.24,0.00,0.00,0.00,nan,0,nan,0,0,0
180736,84000,12052018,nan,120000,"Kunde, Store,",19.00,77525,14.37,0.00,0.00,0.00,nan,0,nan,0,0,0
226520,84000,6062018,nan,118020,redroses communications GmbH,19.00,104,2885.00,0.00,0.00,0.00,nan,0,nan,0,0,0
227214,84000,4072018,nan,106010,Guido Greifenberg,19.00,112,550.00,0.00,0.00,0.00,nan,0,nan,0,0,0
228937,84000,6042018,nan,107011,Korrektur Rechnung,19.00,91,29.41,0.00,0.00,0.00,nan,0,nan,0,0,0
234500,84000,18062018,nan,120000,"Schmid, Anna,",19.00,81362,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
234504,84000,20062018,nan,120000,"Diefenbach, JÃ¶rg,",19.00,81506,125.21,0.00,0.00,0.00,nan,0,nan,0,0,0
234508,84000,14062018,nan,120000,"TrÃ¶ndle, Kathrin,",19.00,81129,108.40,0.00,0.00,0.00,nan,0,nan,0,0,0
234512,84000,1062018,nan,120000,"Kunde, Store,",19.00,80045,100.00,0.00,0.00,0.00,nan,0,nan,0,0,0
234516,84000,13062018,nan,120000,"Davydov, Christine,",19.00,81073,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
234520,84000,29062018,nan,120000,"Eckelt, Natalie,",19.00,82123,48.66,0.00,0.00,0.00,nan,0,nan,0,0,0
234524,84000,20062018,nan,120000,"Kretzschmar, Nancy,",19.00,81504,46.89,0.00,0.00,0.00,nan,0,nan,0,0,0
234536,84000,12062018,nan,120000,"Krautwasser, Monica,",19.00,80958,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
234540,84000,18062018,nan,120000,"Sanke, Julian,",19.00,81336,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0
234544,84000,20062018,nan,120000,"Franz, Stefanie,",19.00,81531,44.45,0.00,0.00,0.00,nan,0,nan,0,0,0